* {
  box-sizing: border-box;
}

body {
  color: #333;
  font-size: 1.5em;
  margin: 0 auto;
  max-width: 50em;
  font-family: Verdana, Geneva, sans-serif;
  line-height: 1.5;
  padding: 2em 1em;
}

h1 {
  font-size: 3em;
  text-align: center;
}

h1 + p {
  text-align: center;
}

h2 {
  font-size: 2.5em;
}

h3 {
  font-size: 2em;
}

h2, h3 {
  margin-top: 2em;
}

h2, strong {
  color: #111;
}

code, pre {
  background: #eee;
}

code {
  padding: 2px 4px;
  vertical-align: text-bottom;
}

pre {
  border-left: 2px solid #bbb;
  padding: 1em;
}

a {
  color: #e08080;
  text-decoration: none;
}
