@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Light.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Medium.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Martian KP";
  src: url("../fonts/MartianMonoKP-Light.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
:root {
  --bg: #FDFDFD;
  --bright: #fff;
  --light: #dbc5d0;
  --accent: #db0b5b;
  --heading: #330315;
  --text: #212121;
  --baseFont: "Inter", sans-serif;
  --headingsFont: "Martian KP", monospace;
  --gap: 1.5em;
  --shadow: box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
  --shadowElevated: box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
}
@media screen and (min-width: 576px) {
  :root {
    --gap: 2em;
  }
}
@media screen and (min-width: 768px) {
  :root {
    --gap: 3em;
  }
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, st, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

html {
  background: var(--bg);
  font-size: 18px;
  font-family: var(--baseFont);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--headingsFont);
  color: var(--heading);
  line-height: 1.2em;
  font-weight: normal;
}

h1 {
  font-size: 1.8em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.3em;
}

p {
  line-height: 1.4em;
}

em {
  font-style: italic;
}

a, a:active, a:visited {
  color: var(--accent);
  text-decoration: none;
}

a:hover {
  color: var(--heading);
}

buttons {
  margin: 1em 0 2em;
  line-height: 2.5em;
  width: 100%;
}

button, .button {
  color: var(--heading);
  background-color: var(--bright);
  border: 1px solid var(--heading);
  text-decoration: none;
  border-radius: 1em;
  padding: 0.5em 1em;
  transition: background 0.3s ease;
  box-shadow: var(--shadow);
}
button:hover, .button:hover {
  color: var(--bright);
  background-color: var(--accent);
  box-shadow: var(--shadowElevated);
}

body {
  line-height: 1;
  margin-bottom: 80px;
}

b {
  font-weight: 700;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, hero, logo, buttons, sub {
  display: block;
}

img {
  max-width: 100%;
  height: auto;
}

header, section, footer, hero {
  margin: 0 auto;
}
@media screen and (min-width: 576px) {
  header, section, footer, hero {
    max-width: 1200px;
  }
}

header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: var(--gap);
  border-bottom: 2px solid var(--heading);
  position: relative;
  align-items: end;
  padding: var(--gap);
}
header logo img {
  max-width: calc(7 * var(--gap));
  margin-bottom: -0.75em;
}
header sub {
  color: var(--accent);
  font-size: 1em;
  line-height: 1.4em;
}
@media screen and (min-width: 576px) {
  header {
    grid-template-columns: 2fr 1fr;
  }
  header sub {
    font-size: 1.6em;
  }
}

.center img {
  max-width: 80%;
}
@media screen and (min-width: 576px) {
  .center img {
    max-width: calc(10 * var(--gap));
  }
}

hero, section {
  padding: var(--gap);
}
hero p, section p {
  margin-bottom: 1em;
}
hero sub, section sub {
  font-size: 2em;
  color: var(--accent);
}

hero container h1 {
  font-family: var(--headingsFont);
  color: var(--heading);
  line-height: 1.4em;
  font-weight: normal;
  font-size: 1.3em;
}

@media screen and (min-width: 576px) {
  hero container {
    display: grid;
    grid-gap: var(--gap);
    grid-template-columns: 2fr 1fr;
  }
  hero container h1 {
  font-size: 1.3em;
  }
}

section {
  padding: 2em;
  overflow-wrap: anywhere;
  word-break: break-word;
}
section h2, section h3, section h4, section h5 {
  margin-bottom: 0.5em;
}
section p {
  margin-bottom: 1em;
}
@media screen and (min-width: 576px) {
  section container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: var(--gap);
  }
}
section container column {
  display: block;
  margin-bottom: calc(2 * var(--gap));
}
@media screen and (min-width: 576px) {
  section container column {
    margin-bottom: 0;
  }
}

ol, ul {
  line-height: 1.4em;
}

li {
  margin-left: 20px;
  margin-bottom: 10px;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.portrait {
  margin: calc(var(--gap) * 0.5) 0;
}
.portrait img {
  -webkit-mask-image: url(../img/mask.svg);
  -webkit-mask-repeat: no-repeat;
  max-width: 230px;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.center {
  margin: auto;
  text-align: center;
}

p.imgsubtitle {
  margin-top: 20px;
}

.news-items p {
  display: inline;
}